*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 5px;
  }
 
  ::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgb(26, 25, 25);
  }
body{
    overflow-x: hidden;
    background-color: black;
}
/* nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    height:80px;
    width: 100vw;
    position: absolute;
    top: 0px;
    z-index: 1;
    background-color: transparent;
}
.logo{
    width: 200px;
    color: red;
    font-size: 3.3rem;
    text-transform: uppercase;
    font-weight: bold;
}
.signUp{
    background-color: red;
    color: white;
    font-size: 1.1rem;
    border: none;
    outline: none;
    padding: 5px 14px;
    border-radius: 3px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
  nav{
    padding: 0px 20px;
}
.logo{
    font-size: 3rem;
   
}
.signUp{
    background-color: red;
    color: white;
    font-size: 1rem;
    border: none;
    outline: none;
    padding: 5px 14px;
    border-radius: 3px;
    cursor: pointer;
}
}
@media screen and (max-width: 400px) {
  .logo{
    font-size: 2.5rem;
}
.signUp{
    background-color: red;
    color: white;
    font-size: 1rem;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}
} */